root = true 
[*.{js,jsx,ts,tsx,vue,json,html,css,scss}]
indent_style = space # 缩进风格（tab | space）
indent_size = 2 # 缩进大小
end_of_line = crlf # 控制换行类型(lf | cr | crlf)
insert_final_newline = true # 始终在文件末尾插入一个新行