$padding-spacing: 20px;

// color
$color-primary: #016efd;
$color-warning: #ff8625;
$color-danger: #ed3838;

$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-link: $color-primary;
$color-link--hover: #6fa3e3;

$border-color: #dcdfe6;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;

// navbar
$navbarHeight: 64px;
$loginNavHeight: 60px;

$background-color: #f7f8fa;
$background-primary: #e4f0ff;

// sidebar
$sidebarWidth: 200px;

$menuText: #bbb;
$menuActiveText: #fff;

$menuBg: #2c2c2d;
$menuHover: #3c3c3d;
$subMenuBg: #262626;

$subMenuHover: $menuHover;

$header-bg: #262f3e;
$white: #fff;
